@import url("custom_props.css");
/**
* Hard Reset to default sizing
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100vh;
    font-family: var(--ff-barlow);
    font-display: swap;
}
body {
    line-height: 1.5;
}
/* typography  */
h1 {
    font-family: var(--ff-bellefair);
    font-size: var(--fs-6);
    font-weight: var(--fw-700);
}
h2 {
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
}
h3 {
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
}
h4 {
    font-size: var(--fs-3);
    font-weight: var(--fw-500);
}
h5 {
    font-size: var(--fs-2);
    font-weight: var(--fw-500);
}
p {
    font-size: var(--fs-1);
    font-weight: var(--fw-400);
}
/* images  */
img,
picture {
    min-width: 100%;
    display: block;
}

/* form inputs font property (not inherited by default) */
button,
input,
select,
textarea {
    font: inherit;
}

/* remove animation for special accessibility */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Utility Classes (achieve DRY) */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}
.grid {
    display: grid;
    gap: var(--gap, 1rem);
}
.container {
    /* top = 0 left + right = 2em */
    padding: 0 2em;
    /* new property in CSS padding-inline: 2em (same effect) */
    padding-inline: 2em;
    /* margin: 0 auto; */
    /* new property in CSS margin-inline: auto (same effect) */
    margin-inline: auto;
    max-width: 80rem;
}

/* screen reader (text-to-speech) only class */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/* testing */
.box {
    background-color: lightblue;
    padding: 3rem;
    font-size: 2em;
}

/* custom colors */
.bg-dark {
    background-color: hsl(var(--clr-dark));
}
.bg-light {
    background-color: hsl(var(--clr-light));
}
.bg-white {
    background-color: hsl(var(--clr-white));
}
.text-dark {
    color: hsl(var(--clr-dark));
}
.text-light {
    color: hsl(var(--clr-light));
}
.text-white {
    color: hsl(var(--clr-white));
}
